@import url('https://fonts.googleapis.com/css2?family=Sono:wght@400;700&display=swap');


body {
    font-family: "Sono", sans-serif;
  }
/* .page {
    border: 10px solid red
} */

.bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height:80px;
    background-color: #5abe37;
}

.bar > div {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.introduction {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;
    height: 40vh;
    background-color: #97BC62;
}

.intro {
    background-color: #f2f2f2d2;
    display: flex;
    justify-content: center;
    flex-basis: 20rem;
    height: 70%;
    border-radius: 10%;
}

.intro > div {
    display:flex;
    font-weight: bold;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}