.client-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    background-color: white;
}

.client-table th, .client-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.client-table th {
    background-color: #dddddd;
}

.id {
    background-color: #dddddd;
}

.x-button {
    margin-left: 15%;
}