.email-table-box {
    margin-bottom: 5vh;
    background-color: white;
    width: 800px;
}

.email-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}
.email-table th {
    background-color: #dddddd;
}

.email-table th, .email-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.email-table th:nth-child(2), .client-table td:nth-child(2) {
    width: 600px; /* Set the desired width */
}

.send-email {
    background-color: #4681f4;
    border-radius: 7px;
    border: none;
    color: white;
    margin-left: 10px;
}

.send-email:hover {
    background-color: #3270ed;
}
